<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="container">
    <header><%- include('../partials/header'); %></header>
    <div id="notifContainer"></div>

    <footer><%- include('../partials/footer'); %></footer>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/notificationsScripts.js"></script>
  </body>
</html>
