<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script src="/socket.io/socket.io.js"></script>
  </head>

  <body class="container">
    <header><%- include('../partials/header'); %></header>
    <% if (user.admin===true) { %>
    <form id="publicForm">
      <div class="mb-3">
        <input
          class="form-control"
          name="title"
          id="title"
          placeholder="tittle"
        />
      </div>
      <div class="input-group">
        <textarea
          class="form-control"
          aria-label="With textarea"
          id="description"
          name="description"
          placeholder="description"
        ></textarea>
      </div>
      <select
        class="form-select"
        aria-label="Default select example"
        name="tags"
        id="tags"
      >
        <option selected>select team</option>
        <option name="tags" value="PM">PM</option>
        <option name="tags" value="development">development</option>
        <option name="tags" value="management">management</option>
      </select>
      <button type="submit" class="btn btn-primary" id="boton">Submit</button>
    </form>
    <% } %>
    <div class="card" style="margin-top: 2vh; background: transparent; border: none" id="pubContainer">
    </div>

    <footer><%- include('../partials/footer'); %></footer>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/publicationsScripts.js" type="module" >
      
    </script>
  </body>
</html>
