<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>
  
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card card-body">
        <h3 class="text-center mb-4">Login</h3>

        <% if (error) { %>
          <% for(var i=0; i<error.length; i++) {%>
            
            
            
            <div class="alert alert-danger">
              <%= error[i] %>
            </div>
            <% } %>
            <% } %>
            
            
            
            <form action="/users/signin" method="POST">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" id="email" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter password">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <p class="text-center">
              <a href="/users/signup">Need an account?</a>
            </p>
          </div>
        </div>
      </div>
        <footer>
          <%- include('../partials/footer'); %>
        </footer>

    </body>
</html>